/* General */

body {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjM2IiBzdG9wLWNvbG9yPSIjNDlhZWFkIi8+PHN0b3Agb2Zmc2V0PSIwLjg2IiBzdG9wLWNvbG9yPSIjOGFiZDc5Ii8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2cxKSIgLz48L3N2Zz4=) no-repeat fixed 0 0;
    background: -webkit-gradient(linear, center top, center bottom, color-stop(36%, #49aead), color-stop(86%, #8abd79)) no-repeat fixed 0 0;
    background: -webkit-linear-gradient(top, #49aead 36%, #8abd79 86%) no-repeat fixed 0 0;
    background: -moz-linear-gradient(top, #49aead 36%, #8abd79 86%) no-repeat fixed 0 0;
    background: -ms-linear-gradient(top, #49aead 36%, #8abd79 86%) no-repeat fixed 0 0;
    background: -o-linear-gradient(top, #49aead 36%, #8abd79 86%) no-repeat fixed 0 0;
    background: linear-gradient(to bottom, #49aead 36%, #8abd79 86%) no-repeat fixed 0 0;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#49aead', endColorstr='#8abd79',GradientType=1 ); /* IE6-9 */
}

    body > .container {
        margin-top: 31px;
		padding-bottom: 50px;
    }

.container {
    max-width: 960px;
}

.nav > li > a:hover {
    background-color: transparent;
}

a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-position: inside;
    padding: 0;
}

.row {
    position: relative;
}

.right-align {
    text-align: right;
}

.pro-page-list {
    text-align: center;
}

.pro-page-list .pagination>li>a {
    color: #000;
}

.pro-page-list .pagination>.active>a, .pro-page-list .pagination>.active>span, .pro-page-list .pagination>.active>a:hover, .pro-page-list .pagination>.active>span:hover, .pro-page-list .pagination>.active>a:focus, .pro-page-list .pagination>.active>span:focus {
    color: #fff;
}

.pro-page-list .pagination>.disabled>span, .pro-page-list .pagination>.disabled>a, .pro-page-list .pagination>.disabled>a:hover, .pro-page-list.pagination>.disabled>a:focus {
    color: #999;
}

#scrollUp {
    background: url(../img/icons.png) no-repeat 0 -167px;
    bottom: 20px;
    height: 50px;
    padding: 0;
    position: fixed;
    right: 20px;
    width: 50px;
}

    #scrollUp:hover {
        background-position: -50px -167px;
    }

/* Navigation */

.nav-header {
    background-color: #5e5e5e;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0;
    min-height: 30px;
}

    .nav-header .navbar-nav > li > .nav-item {
        font-size: 0.85em;
        padding: 5px 10px;
    }

    .nav-header .navbar-left > li > .nav-left-item {
        font-style: italic;
        padding: 5px 25px;
    }

    .nav-header .navbar-left > li:first-child > .nav-left-item {
        padding-left: 0;
    }

    .nav-header .navbar-right .prods-val:after {
        content: " đ ";
    }

    .nav-header .navbar-right .prods-num {
        margin-left: 2px;
    }

        .nav-header .navbar-right .prods-num:after {
            content: " món";
        }

#header .nav-top {
    margin: 25px 0 0 0;
}

.nav-top > li > .menuItem {
    background-color: transparent;
    border-left: 1px solid #89cbc9;
    font-size: 1.25em;
    margin: 0;
    padding: 0 30px 0 10px;
    text-transform: uppercase;
}

.nav-top > li > .dropdown-menu {
    -ms-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.nav-top > li:hover > .dropdown-menu, .nav-top > li:focus > .dropdown-menu {
    display: block;
    box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
}

.nav .open > .menuItem, .nav .open > .menuItem:hover, .nav .open > .menuItem:focus {
    background-color: transparent;
    border-color: transparent;
}

.nav .open > .menuItem {
    border-color: #89cbc9;
}

.nav .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

/* Icons */

.shopping-cart {
    display: inline-block;
    font-style: italic;
    position: relative;
}

    .shopping-cart:before {
        background: url(../img/icons.png) no-repeat 0 0;
        content: "";
        height: 24px;
        display: block;
        left: -35px;
        position: absolute;
        top: -5px;
        width: 28px;
    }

    .shopping-cart:after {
        content: ":";
    }

/* Form Controls */

.logo-search .form-inline {
    margin: 30px 48px 0 0;
}

.logo-search .search-control {
    -ms-border-radius: 18px;
    -moz-border-radius: 18px;
    -o-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    height: 37px;
    line-height: 37px;
    outline: none;
}

.logo-search .search-field {
    background-color: #f0f0f0;
    border: 1px solid #cbcbcb;
    color: #656565;
    padding: 0 20px;
    text-transform: uppercase;
    width: 265px;
}

.logo-search .search-btn {
    background-color: #c3d90c;
    border: none;
    color: #fff;
    text-transform: uppercase;
    min-width: 85px;
}

/* Title */

.bg-title {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjZjc3YTI3Ii8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjZmRiOTMyIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2cxKSIgLz48L3N2Zz4=) no-repeat 0 0;
    background: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #f77a27), color-stop(100%, #fdb932)) no-repeat 0 0;
    background: -webkit-linear-gradient(top, #f77a27 0%, #fdb932 100%) no-repeat 0 0;
    background: -moz-linear-gradient(top, #f77a27 0%, #fdb932 100%) no-repeat 0 0;
    background: -ms-linear-gradient(top, #f77a27 0%, #fdb932 100%) no-repeat 0 0;
    background: -o-linear-gradient(top, #f77a27 0%, #fdb932 100%) no-repeat 0 0;
    background: linear-gradient(to bottom, #f77a27 0%, #fdb932 100%) no-repeat 0 0;
    color: #fff;
    font: normal normal 1.85em/1.5em arial, verdana;
    line-height: 37px;
    margin: 0 0 20px 0;
    min-height: 37px;
    position: relative;
    text-indent: 50px;
    margin-left: -36px;
    width: 100%;
}

    .bg-title:before {
        top: 37px;
    }

.carousel-bg-title {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjZjY3MjIyIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjZmNiZTI5Ii8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2cxKSIgLz48L3N2Zz4=) no-repeat 0 0;
    background: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #f67222), color-stop(100%, #fcbe29)) no-repeat 0 0;
    background: -webkit-linear-gradient(top, #f67222 0%, #fcbe29 100%) no-repeat 0 0;
    background: -moz-linear-gradient(top, #f67222 0%, #fcbe29 100%) no-repeat 0 0;
    background: -ms-linear-gradient(top, #f67222 0%, #fcbe29 100%) no-repeat 0 0;
    background: -o-linear-gradient(top, #f67222 0%, #fcbe29 100%) no-repeat 0 0;
    background: linear-gradient(to bottom, #f67222 0%, #fcbe29 100%) no-repeat 0 0;
    -moz-border-bottom-right-radius: 15px;
    -ms-border-bottom-right-radius: 15px;
    -o-border-bottom-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;
    -moz-border-top-right-radius: 15px;
    -ms-border-top-right-radius: 15px;
    -o-border-top-right-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
}

    .carousel-bg-title:before {
        top: 53px;
    }

.corner-bottom:before {
    background: url(../img/icons.png) no-repeat -28px -11px;
    content: "";
    display: block;
    height: 12px;
    left: 0;
    position: absolute;
    width: 21px;
}

.product-list-sub-title {
    font-size: 1.6em;
    margin: 0 0 10px 0;
}

.product-list-sub-title a {
    color: #000;
}

.footer-title:before {
    left: -21px;
    top: 25px;
}

.title-page {
    color: #f77827;
    font-size: 1.75em;
    font-weight: bold;
    margin: 25px 0 15px 0;
    text-indent: 15px;
}

/* BOX */

.cate-box {
    background-color: #f67326;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
}

    .cate-box .cate-title {
        border-bottom: 1px solid #fff;
        color: #fff;
        font-size: 1.6em;
        margin: 0 0 10px 0;
        padding: 0 0 3px 0;
        text-align: center;
    }

    .cate-box .list {
        padding: 0;
    }

        .cate-box .list li {
            color: #fff;
        }

        .cate-box .list .cate-item {
            letter-spacing: 1px;
        }

    .cate-box p {
        font-size: 0.85em;
        color: #fff;
        margin: 0 0 5px 0;
    }

.pro-box {
    border: 1px solid #aeadad;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    margin-bottom: 25px;
    position: relative;
    text-align: center;
    -moz-transition: -moz-transform .5s ease 0s;
    -ms-transition: -ms-transform .5s ease 0s;
    -o-transition: -o-transform .5s ease 0s;
    -webkit-transition: -webkit-transform .5s ease 0s;
    transition: transform .5s ease 0s;
}

    .pro-box:hover, .pro-box:focus {
        border-color: #f77d28;
        -moz-box-shadow: 2px 2px 10px #888;
        -ms-box-shadow: 2px 2px 10px #888;
        -o-box-shadow: 2px 2px 10px #888;
        -webkit-box-shadow: 2px 2px 10px #888;
        box-shadow: 2px 2px 10px #888;
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

        .pro-box:hover .pro-name, .pro-box:focus .pro-name {
            color: #f78028;
        }

    .pro-box .pro-name {
        font-size: 1.45em;
        font-weight: bold;
        height: 45px;
        letter-spacing: .5px;
        margin: 5px 0 20px 0;
        overflow: hidden;
    }

    .pro-box .pro-img {
        height: 142px;
        margin: 0 auto;
        width: 188px;
    }

    .pro-box .pro-link {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    .pro-box p {
        margin: 10px 0 5px 0;
        padding: 0 10px;
        text-align: left;
    }

    .pro-box .pro-price {
        font-size: 1.25em;
        margin-top: 0;
    }

.pro-price .promo-price:before {
    background: url(../img/icons.png) no-repeat -28px 0;
    content: " ";
    height: 11px;
    display: inline-block;
    margin: 0 5px;
    width: 16px;
}

.pro-price .promo-price {
    font-weight: bold;
}

.promo-price sup {
    font-weight: normal;
}

.pro-box .pro-highlight {
    background: url(../img/icons.png) no-repeat;
    display: none;
    position: absolute;
}

.pro-box .disc-price {
    background-position: 0 -24px;
    height: 34px;
    left: -6px;
    top: 161px;
    width: 130px;
}

.pro-box .hot-pro {
    background-position: 0 -61px;
    height: 57px;
    left: -8px;
    top: 126px;
    width: 155px;
}

.pro-box .news-arrive {
    background-position: 0 -118px;
    height: 42px;
    right: -6px;
    top: 126px;
    width: 136px;
}

    .pro-box.news-arrive .news-arrive {
        display: block;
    }

.pro-box.hot .hot-pro {
    display: block;
}

.pro-box.promo .disc-price {
    display: block;
}

/* Controls */

.pro-btn {
    color: #fff;
    margin-right: 5px;
}

    .pro-btn:not(.add-to-cart) {
        background: url(../img/icons.png) no-repeat 0 0;
        cursor: pointer;
        display: inline-block;
        height: 14px;
        overflow: hidden;
        text-indent: 100%;
        vertical-align: middle;
        white-space: nowrap;
        width: 14px;
    }

.pro-btn.plus {
    background-position: -52px 0;
    margin-right: 10px;
}

.pro-btn.minus {
    background-position: -80px 0;
}

.add-to-cart {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-image: linear-gradient(to bottom, #e69915 0%, #c4450f 100%);/* IE6-9 */
    outline: none;
}

.add-to-cart:hover, .add-to-cart:focus {
    -moz-box-shadow: 2px 2px 5px #888;
    -ms-box-shadow: 2px 2px 5px #888;
    -o-box-shadow: 2px 2px 5px #888;
    -webkit-box-shadow: 2px 2px 5px #888;
    box-shadow: 2px 2px 5px #888;
}

.pro-num {
    border: 1px solid #a1a1a1;
    color: #f77827;
    font-size: 0.85em;
    height: 15px;
    line-height: 15px;
    margin-right: 5px;
    outline: none;
    text-align: center;
    width: 24px;
}

.cart-detail .add-to-cart {
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0 15px;
}


/* HOME */

#header {
    height: 70px;
}

#main {
    background-color: #fff;
}

    #main .logo-search {
        height: 105px;
    }

.logo-search .logo {
    margin: 10px 0 0 15px;
}

#main .carousel, .carousel-inner {
    height: 325px;
    position: relative;
}

.carousel-inner {
    overflow: hidden;
    width: 100%;
}

    .carousel-inner > .item {
        display: none;
        position: relative;
        -moz-transition: left 0.6s ease-in-out 0s;
        -ms-transition: left 0.6s ease-in-out 0s;
        -o-transition: left 0.6s ease-in-out 0s;
        -webkit-transition: left 0.6s ease-in-out 0s;
        transition: left 0.6s ease-in-out 0s;
    }

        .carousel-inner > .item > img, .carousel-inner > .item > a > img {
            display: block;
            height: auto;
            line-height: 1;
            max-width: 100%;
        }

    .carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
        display: block;
    }

    .carousel-inner > .active {
        left: 0;
    }

    .carousel-inner > .next, .carousel-inner > .prev {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .carousel-inner > .next {
        left: 100%;
    }

    .carousel-inner > .prev {
        left: -100%;
    }

        .carousel-inner > .next.left, .carousel-inner > .prev.right {
            left: 0;
        }

    .carousel-inner > .active.left {
        left: -100%;
    }

    .carousel-inner > .active.right {
        left: 100%;
    }

.carousel-indicators {
    bottom: 30px;
    left: 15px;
    margin: 0;
    padding: 0;
    width: auto;
}

    .carousel-indicators li, .carousel-indicators li.active {
        background-color: #fff;
        border: 3px solid #fff;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        height: 15px;
        margin: 0 7px 0 0;
        width: 15px;
    }

        .carousel-indicators li.active {
            background-color: #f67626;
        }

.carousel-title {
    bottom: 15px;
    left: -21px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-indent: 100px;
    padding: 10px 30px;
}

    .carousel-title .upper {
        text-transform: uppercase;
    }

#main .cates {
    margin: 30px 0 0 0;
}

#main .promo-contact {
    margin: 0 0 40px 0;
}

.promo-contact > div:first-child {
    padding-left: 0;
}

.promo-contact .promo-banner {
    border: 1px solid #dfdfdf;
}

#main div[class*="-container"] {
    margin: 0;
    padding-bottom: 25px;
}

.pro-list-container > div:first-child {
    padding-left: 0;
}

.pro-list-container .promo-banner-right {
    width: 100%;
}

.pro-list-container .face-link {
    border: 1px solid #fd9712;
    margin: 20px 0;
    max-width: 100%;
}

.pro-list > .row {
    margin-left: 0;
}

/* list */

.pro-list .phone-case {
    border: 1px solid #f77d28;
    margin-bottom: 25px;
    -moz-transition: -moz-transform .5s ease 0s;
    -ms-transition: -ms-transform .5s ease 0s;
    -o-transition: -o-transform .5s ease 0s;
    -webkit-transition: -webkit-transform .5s ease 0s;
    transition: transform .5s ease 0s;
    display: block;
}

    .pro-list .phone-case:hover, .pro-list .phone-case:focus {
        -moz-box-shadow: 2px 2px 10px #888;
        -ms-box-shadow: 2px 2px 10px #888;
        -o-box-shadow: 2px 2px 10px #888;
        -webkit-box-shadow: 2px 2px 10px #888;
        box-shadow: 2px 2px 10px #888;
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

/* detail */

.pro-detail .pro-name {
    color: #f77827;
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.pro-detail p {
    font-size: 0.85em;
    margin-bottom: 5px;
}

.pro-detail .pro-price {
    font-size: 1.85em;
    font-weight: bold;
}

.pro-price .with-discount {
    text-decoration: line-through;
}

.pro-price .with-discount sup
{
    text-decoration: none;
}

.pro-price .promo-price:before {
    margin: 4px 5px;
}

.pro-detail .pro-intro {
    margin-bottom: 25px;
}

.pro-detail .pro-controls {
    border-bottom: 1px solid #f77827;
    padding-bottom: 8px;
}

.pro-detail .extra-info {
    font-size: 0.8em;
    line-height: 1em;
}

.extra-info .tag {
    color: #000;
}

    .extra-info .tag:after {
        content: ", ";
    }

    .extra-info .tag:last-child:after {
        content: ".";
    }

.pro-detail .pro-desc {
    margin: 0 15px;
    overflow: hidden;
}

.pro-detail .pro-desc img {
    max-width: 100%;
}

.pro-img-slideshow .row {
    margin-left: 0;
}

.pro-img-slideshow .img-container {
    height: 205px;
    overflow: hidden;
    position: relative;
}

.pro-img-slideshow .pro-img {
    left: 0;
    opacity: 0;
    margin: 0 auto;
    max-width: 100%;
    display: block;
    position:absolute;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    top:10px;
}

.pro-img-slideshow .pro-img:target {
    opacity: 1;
}

.pro-img-slideshow .pro-img:target ~ .pro-img.default {
    opacity:0;
}

.pro-img-slideshow .pro-img.default {
    opacity: 1;
}

.pro-img-slideshow .list-thumb {
    list-style: none;
}

.pro-img-slideshow .pro-img-thumb {
    border: 1px solid #cecece;
    margin-top: 15px;
}

/* Contact */

.contact .title-page {
    margin: 10px 0 15px 0;
    text-indent: 0;
}

.contact .title {
    font-weight: bold;
}

.contact p, .contact li {
    font-size: 0.85em;
}

.contact p {
    margin-bottom: 5px;
}

.contact ul {
    list-style: none;
    margin-bottom: 5px;
}

.contact li:before {
    content: "- ";
}

/* Cart */

.cart-detail .title-page {
    margin: 10px 0 15px 0;
    text-indent: 0;
}

.cart-detail .seperate-top {
    border-top: 1px solid #f77827;
    padding-top: 5px;
}

.item-list thead > tr > th, .item-list tbody > tr > th, .item-list tfoot>tr>th, .item-list thead>tr>td, .item-list tbody>tr>td, .item-list tfoot>tr>td {
    border-top:none;
}

.item-list > tbody > tr:nth-child(even) > td, .item-list > tbody > tr:nth-child(even) > th {
    background-color: #ececec;
}

.item-list > tbody > tr:nth-child(odd) > td, .item-list > tbody > tr:nth-child(odd) > th {
    background-color: transparent;
}

.item-list .item-name {
    color: #000;
}

.item-list .item-remove {
    background: url(../img/icons.png) no-repeat -66px 0;
    display: inline-block;
    height: 14px;
    margin-right: 5px;
    vertical-align: middle;
    width: 14px;
}

.item-list th {
    text-align: center;
    text-transform: uppercase;
}

.item-list td:nth-child(1) {
    width: 20%;
}

.item-list td:nth-child(2) {
    width: 35%;
}

.item-list td:nth-child(3) {
    text-align: center;
    width: 15%;
}

.item-list td:nth-child(4) {
    width: 15%;
}

.item-list td:nth-child(5) {
    text-align: center;
    width: 15%;
}

.order-form {

}

.order-form .form-control:hover, .order-form .form-control:focus {
    border-color: #ffcccc;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,204,204,0.6);
    -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,204,204,0.6);
    -o-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,204,204,0.6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,204,204,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,204,204,0.6);
}


/* footer */

#footer {
    background-color: #fff;
    border-top: 1px solid #f98c2a;
    padding: 10px 0 0 0;
}

    #footer .content-info {
        background-color: #f98c2a;
        color: #fff;
        margin: 0;
        padding: 15px 0 10px 0;
    }

    #footer .footer-title {
        background-color: #fa7531;
        font-size: 1.1em;
        font-weight: bold;
        height: 25px;
        line-height: 25px;
        margin: 0 0 10px 0;
        width: 175px;
    }

    #footer .contact-info .footer-title {
        margin-left: -36px;
        text-indent: 38px;
    }

    #footer .guide-info .footer-title {
        text-indent: 10px;
    }

    #footer .using-guide a, #footer p {
        font-size: 0.85em;
    }

    #footer .tags .footer-title {
        text-indent: 10px;
    }

    #footer p {
        margin-bottom: 5px;
    }

    #footer .hot-keywords a:after {
        content: ", ";
    }

    #footer .hot-keywords a:last-child:after {
        content: "...";
    }

    #footer .slogan {
        font-size: 0.9em;
        font-weight: bold;
        height: 45px;
        line-height: 45px;
        margin: 0;
        padding: 0;
        text-align: center;
    }

/* Mobiles */
@media screen and (min-width:320px) and (max-width: 767px) {
}
/* Tablets (≥768px) .col-sm-*/
@media screen and (min-width: 768px) and (max-width: 992px) {
}
/* Desktops (≥992px) .col-md-*/
@media screen and (min-width: 992px) and (max-width: 1190px) {
}
